@charset "utf-8";

/*black template css*/

.t1-BodyBgC { background-color: #3c3c3c; }
.t1-mainBgC { background-color: #565656; }
.t1-siteMapColor { color: #f1f1f1; }
.t1-bannnerBgPic { background-image: url(../../images/platform/template1/t1-headerPic-black1.jpg); background-repeat: no-repeat; height: 268px; width: 994px; }
.t1-priceColor { color: #5b4a2f; }
.t1-conductC { color:#000;}
.t1-sideBorderBottom { border-bottom:1px solid #757575;}
.t1-sideTitleC { color:#dddddd;}
.t1-sideContentC { color:#bbbbbb; }
.t1-sideContentBg { background-image: url(../../images/platform/template1/t3-pic1.jpg); background-repeat: no-repeat; background-position: left center;}
.t1-sideContentCurrent { color:#fff; }
.t1-sideIntroLabelC { color:#feeb40;}
.t1-editorInfoC { color:#fff;}
.t1-sideEditorBg { background-color:#666666;}
.t1-sideBoxNameC { color:#dddddd;}
.t1-sideMoreIntro-unfold { background-image: url(../../images/platform/template1/t10-unfold1.gif); }
.t1-sideMoreIntro-fold { background-image: url(../../images/platform/template1/t10-fold1.gif);}

/*catalog*/
.t1-catalogBgPic {background-image: url(../../images/platform/template1/t4-catalogBg.jpg);}
.t1-catalogTitleBorder { border-top:14px solid #c6a756;}
.t1-catalogTitleC { color:#161616;}
.t1-catalogBtmBg { background-image: url(../../images/platform/template1/t4-catalogBtm.jpg);}
.t1-floatAreaBorder { border-top: 8px solid #c6a755; }
.template1 .banner .function .conduct:hover { color:#000; opacity:1;   }