@charset "utf-8";

/*cyan template css*/

.t1-BodyBgC { background-color: #b6d5c5; }
.t1-mainBgC { background-color: #e7f2ec; }
.t1-siteMapColor { color: #005285; }
.t1-bannnerBgPic { background-image: url(../../images/platform/template1/t1-headerPic-black3-3.jpg); background-repeat: no-repeat; height: 268px; width: 994px; }
.t1-priceColor { color: #5b4a2f; }
.t1-conductC { color:#61657F;}
.t1-sideBorderBottom { border-bottom:1px solid #cfe4d8;}
.t1-sideTitleC { color:#338858;}
.t1-sideContentC { color:#579e76; }
.t1-sideContentBg { background-image: url(../../images/platform/template1/t3-pic3.jpg); background-repeat: no-repeat; background-position: left center;}
.t1-sideContentCurrent { color:#e45e03; }
.t1-sideIntroLabelC { color:#338858;}
.t1-editorInfoC { color:#333333;}
.t1-sideEditorBg { background-color:#d2e4dc;}
.t1-sideBoxNameC { color:#338858;}
.t1-sideMoreIntro-unfold { background-image: url(../../images/platform/template1/t10-unfold2.gif); }
.t1-sideMoreIntro-fold { background-image: url(../../images/platform/template1/t10-fold2.gif);}

/*catalog*/
.t1-catalogBgPic {background-image: url(../../images/platform/template1/t4-catalogBg3.jpg);}
.t1-catalogTitleBorder { border-top:14px solid #85b79e;}
.t1-catalogTitleC { color:#358b5c;}
.t1-catalogBtmBg {background-image: url(../../images/platform/template1/t4-catalogBtm3.jpg);}
.t1-floatAreaBorder { border-top: 8px solid #85b79e; }
.template1 .banner .function .conduct:hover { color:#222; opacity:1;   }