@charset "utf-8";

.t2-BodyBgC { background-color: #5b6682; }
.template2 .t2-headerBg { background-image: url(../../images/platform/template2/t2-headerBg-deepBlue.jpg); border-top:1px solid #4a4a4a; border-bottom:1px solid #4a4a4a;}
.template2 .t2-headerBg .t2-sitemapC { color: #c0c0c0; }
.template2 .t2-floatAreaBgC { background-color:#5b6682; }
.template2 .t2-price1BgC { background-color:#46516e;}
.template2 .t2-articleChaptersBorder { border:1px solid #4b4b4b;}
.template2 .floatArea .t2-chapterBar {background-image: url(../../images/platform/template2/t2-floatArea5-Barb.jpg); }
.template2 .floatArea .chapter .t2-prevIcon {background-image: url(../../images/platform/template2/t2-floatArea3b.jpg);}
.template2 .floatArea .chapter .t2-nextIcon {background-image: url(../../images/platform/template2/t2-floatArea4b.jpg);}

.template2 .floatArea .chapter .center .t2-numIcon {background-image: url(../../images/platform/template2/t2-floatArea2b.jpg);}
.template2 .floatArea .chapter .center .current {background-image: url(../../images/platform/template2/t2-floatArea1b.jpg); color:#faea79;}
.template2 .floatArea .collectDL .t2-collectColor { color:#c2c2c2; }
